<script>
    function onKeyDown(event) {
        if (event.metaKey && event.keyCode === 75) {
            document.getElementById('search-input')?.focus();
        }
    }
    window.addEventListener('keydown', onKeyDown);
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9N8P0QZY3M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9N8P0QZY3M');
</script>
